<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <title>Add Product</title>
	</head>
	<body>
		<form action="{{ url_for('product_blueprint.add_product_post') }}" method="post" enctype="multipart/form-data" >
			{{ form.hidden_tag() }}

			{{ form.name.label }}
			{{ form.name }}
			{% if form.name.errors %}
			{% for error in form.name.errors%}
			<span>{{ error }}</span>
			{% endfor %}
			{% endif %}

			{{ form.stock.label }}
			{{ form.stock }}
			{% if form.stock.errors %}
			{% for error in form.stock.errors%}
			<span>{{ error }}</span>
			{% endfor %}
			{% endif %}

			{{ form.cost.label }}
			{{ form.cost }}
			{% if form.cost.errors %}
			{% for error in form.cost.errors%}
			<span>{{ error }}</span>
			{% endfor %}
			{% endif %}

			{{ form.description.label }}
			{{ form.description }}
			{% if form.description.errors %}
			{% for error in form.description.errors%}
			<span>{{ error }}</span>
			{% endfor %}
			{% endif %}

			{{ form.image.label }}
			{{ form.image }}
			{% if form.image.errors %}
			{% for error in form.image.errors%}
			<span>{{ error }}</span>
			{% endfor %}
			{% endif %}

			{{ form.submit }}
		</form>
	</body>
</html>
