{% extends "base.html" %}
{% block content %}
			{% with messages = get_flashed_messages(with_categories=True) %}
			{% if messages %}
			<ul>
				{% for category, message in messages %}
				<li><strong class="has-text-{{category}}">{{message}}</strong></li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endwith %}

			<h2 class="is-size-2 mb-4">Admin Dashboard</h2>

			<table class="table is-bordered">
				<thead>
					<tr>
						<th>Product Name</th>
						<th>Stock</th>
						<th>Cost</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% if products %}
						{% for product in products %}
							<tr>
								<td>{{product.name}}</td>
								<td>{{product.stock}}</td>
								<td>{{product.cost}}</td>
								<td><a href="{{url_for('admin_blueprint.admin_updateproduct', product_id=product.id)}}" class="button is-warning">Update</a></td>
								<td><a href="{{url_for('admin_blueprint.admin_removeproduct', product_id=product.id)}}" class="button is-danger">Remove</a></td>
							</tr>
						{% endfor %}
					{% endif %}
				</tbody>
			</table>
			<a href="{{url_for('admin_blueprint.admin_addproduct')}}" class="button is-info">Add Product</a>
{% endblock content %}