<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
        <title>Shop - {{title}}</title>
    {% else %}
        <title>Flask Shop</title>
    {% endif %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="has-background-light">
    <nav class="navbar has-shadow is-primary">
        <div class="navbar-brand ml-5">
            <a class="navbar-item title">Shop</a>
            <a id="navBarBurger" class="navbar-burger">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div id="navBarMenu" class="navbar-menu pr-4">
            <div class="navbar-end">
                <a href="{{ url_for('product_blueprint.allproducts') }}" class="navbar-item is-size-5">Home</a>
                <a href="{{ url_for('cart_blueprint.cart') }}" class="navbar-item is-size-5">Cart</a>
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('admin_blueprint.admin_dashboard') }}" class="navbar-item is-size-5">Dashboard</a>
                    <a href="{{ url_for('admin_blueprint.admin_logout') }}" class="navbar-item is-size-5">Logout</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </section>

    <script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>