{% extends "base.html" %}
{% block content %}
			{% if session["cart"] %}

			<table class="table is-bordered">
				<thead>
					<tr>
						<th>Product Name</th>
						<th>Cost</th>
						<th>Quantity</th>
						<th></th>
					</tr>
				</thead>
				{% for cart_item in session["cart"] %}
				<tbody>
					<tr>
						<td>{{cart_item["name"]}}</td>
						<td>{{cart_item["cost"] * cart_item["quantity"]}}</td>
						<td>{{cart_item["quantity"]}}</td>
						<td><a href="{{url_for('product_blueprint.removefromcart', product_id=cart_item['id'])}}" class="button is-info">Remove from Cart</a></td>
					</tr>
				</tbody>
				{% endfor %}
			</table>

			<button id="checkoutFormOpenBtn" class="button is-danger">Checkout</button>

			<div id="checkoutForm" class="modal">
  				<div class="modal-background"></div>
  					<div class="modal-content has-text-centered">
    					<form action="{{url_for('cart_blueprint.checkout')}}" method="post">
							{{form.hidden_tag()}}

                			<div class="field is-size-5">
                    			{{ form.firstname.label(class="has-text-white")}}
                    			<div class="control">
                    				{{ form.firstname(class="is-size-6 p-1") }}
                    			</div>
                    			{% if form.firstname.errors %}
                    				{% for error in form.firstname.errors %}
                            			<span class="has-text-danger">{{ error }}</span>
                        			{% endfor %}
                    			{% endif %} 
                			</div>

            				<div class="field mb-3">
                				{{ form.lastname.label(class="has-text-white") }}
                				<div class="control">
                    				{{ form.lastname(class="is-size-6 p-1") }}
                				</div>
                				{% if form.lastname.errors %}
                					{% for error in form.lastname.errors %}
                    					<span class="has-text-danger">{{ error }}</span>
                					{% endfor %}
                				{% endif %} 
            					</div>

            				<div class="field mb-3">
                				{{ form.email.label(class="has-text-white") }}
                				<div class="control">
                    				{{ form.email(class="is-size-6 p-1") }}
                				</div>
                				{% if form.email.errors %}
                    				{% for error in form.email.errors %}
                        				<span class="has-text-danger">{{ error }}</span>
                    				{% endfor %}
                				{% endif %} 
            				</div>

            				<div class="field mb-3">
                				{{ form.phone.label(class="has-text-white") }}
                				<div class="control">
                					{{ form.phone(class="is-size-6 p-1") }}
                				</div>
                				{% if form.phone.errors %}
                    				{% for error in form.phone.errors %}
                        				<span class="has-text-danger">{{ error }}</span>
                    				{% endfor %}
                				{% endif %} 
            				</div>

                			<div class="field mb-3">
                    			{{ form.line1.label(class="has-text-white") }}
                    			<div class="control">
                        			{{ form.line1(class="is-size-6 p-1") }}
                    			</div>
                    			{% if form.line1.errors %}
                       				{% for error in form.line1.errors %}
                            			<span class="has-text-danger">{{ error }}</span>
                        			{% endfor %}
                    			{% endif %} 
                			</div>

                			<div class="field mb-3">
                    			{{ form.state.label(class="has-text-white") }}
                    			<div class="control">
                        			{{ form.state(class="is-size-6 p-1") }}
                    			</div>
                    			{% if form.state.errors %}
                       				{% for error in form.state.errors %}
                            			<span class="has-text-danger">{{ error }}</span>
                        			{% endfor %}
                    			{% endif %} 
                			</div>

                			<div class="field mb-3">
                    			{{ form.country.label(class="has-text-white") }}
                    			<div class="control">
                        			{{ form.country(class="is-size-6 p-1") }}
                    			</div>
                    			{% if form.country.errors %}
                       				{% for error in form.country.errors %}
                            			<span class="has-text-danger">{{ error }}</span>
                        			{% endfor %}
                    			{% endif %} 
                			</div>

							{{ form.submit(class="button is-danger mt-4") }}
						</form>
  					</div>
  				<button id="checkoutFormCloseBtn" class="modal-close is-large" aria-label="close"></button>
			</div>

			{% else %}
			<div class="notification is-info">
				You don't have anything in the cart yet
			</div>

			{% endif %}
{% endblock content %}