{% extends "base.html" %}
{% block content %}
			{% if session["cart"] %}
			<div class="columns">
			<div class="column">
			<table class="table is-bordered">
				<thead>
					<tr>
						<th>Product Name</th>
						<th>Cost</th>
						<th>Quantity</th>
						<th></th>
					</tr>
				</thead>
				{% for cart_item in session["cart"] %}
				<tbody>
					<tr>
						<td>{{cart_item["name"]}}</td>
						<td>{{cart_item["cost"] * cart_item["quantity"]}}</td>
						<td>{{cart_item["quantity"]}}</td>
						<td><a href="{{url_for('product_blueprint.removefromcart', product_id=cart_item['id'])}}" class="button is-info">Remove from Cart</a></td>
					</tr>
				</tbody>
				{% endfor %}
			</table>
			</div>

			<div class="column has-text-centered">
    			<form action="{{url_for('cart_blueprint.cart')}}" method="post" class="columns">
					{{form.hidden_tag()}}

					<div class="column">
                		<div class="field mb-3">
                    		{{ form.firstname.label}}
                    		<div class="control">
                    			{{ form.firstname(class="is-size-6 p-1") }}
                    		</div>
                    		{% if form.firstname.errors %}
                    			{% for error in form.firstname.errors %}
                            		<span class="has-text-danger">{{ error }}</span>
                        		{% endfor %}
                    		{% endif %} 
                		</div>

            			<div class="field mb-3">
                			{{ form.lastname.label }}
                			<div class="control">
                    			{{ form.lastname(class="is-size-6 p-1") }}
                			</div>
                			{% if form.lastname.errors %}
                				{% for error in form.lastname.errors %}
                    				<span class="has-text-danger">{{ error }}</span>
                				{% endfor %}
                			{% endif %} 
            			</div>

            			<div class="field mb-3">
                			{{ form.email.label }}
                			<div class="control">
                    			{{ form.email(class="is-size-6 p-1") }}
                			</div>
                			{% if form.email.errors %}
                    			{% for error in form.email.errors %}
                        			<span class="has-text-danger">{{ error }}</span>
                    			{% endfor %}
                			{% endif %} 
            			</div>

            			<div class="field mb-3">
                			{{ form.phone.label }}
                			<div class="control">
                				{{ form.phone(class="is-size-6 p-1") }}
                			</div>
                			{% if form.phone.errors %}
                    			{% for error in form.phone.errors %}
                        			<span class="has-text-danger">{{ error }}</span>
                    			{% endfor %}
                			{% endif %} 
            			</div>
            		</div>

            		<div class="column">
                		<div class="field mb-3">
                    		{{ form.line1.label }}
                    		<div class="control">
                        		{{ form.line1(class="is-size-6 p-1") }}
                    		</div>
                    		{% if form.line1.errors %}
                       			{% for error in form.line1.errors %}
                            		<span class="has-text-danger">{{ error }}</span>
                        		{% endfor %}
                    		{% endif %} 
                		</div>

                		<div class="field mb-3">
                    		{{ form.city.label }}
                    		<div class="control">
                        		{{ form.city(class="is-size-6 p-1") }}
                    		</div>
                    		{% if form.city.errors %}
                       			{% for error in form.city.errors %}
                            		<span class="has-text-danger">{{ error }}</span>
                        		{% endfor %}
                    		{% endif %} 
                		</div>

                		<div class="field mb-3">
                    		{{ form.state.label }}
                    		<div class="control">
                        		{{ form.state(class="is-size-6 p-1") }}
                    		</div>
                    		{% if form.state.errors %}
                       			{% for error in form.state.errors %}
                            		<span class="has-text-danger">{{ error }}</span>
                        		{% endfor %}
                    		{% endif %} 
                		</div>

                		<div class="field mb-3">
                    		{{ form.country.label }}
                    		<div class="control">
                        		{{ form.country(class="is-size-6 p-1") }}
                    		</div>
                    		{% if form.country.errors %}
                       			{% for error in form.country.errors %}
                            		<span class="has-text-danger">{{ error }}</span>
                        		{% endfor %}
                    		{% endif %} 
                		</div>

                		<div class="field mb-3">
                    		{{ form.postal_code.label }}
                    		<div class="control">
                        		{{ form.postal_code(class="is-size-6 p-1") }}
                    		</div>
                    		{% if form.postal_code.errors %}
                       			{% for error in form.postal_code.errors %}
                            		<span class="has-text-danger">{{ error }}</span>
                        		{% endfor %}
                    		{% endif %} 
                		</div>

                		{{ form.submit(class="button is-danger mt-4") }}
                	</div>
				</form>
			</div>
			</div>

			{% else %}
			<div class="notification is-info">
				You don't have anything in the cart yet
			</div>

			{% endif %}
{% endblock content %}