<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home</title>
	</head>
	<body>

        {% with messages = get_flashed_messages(with_categories=True) %}
        	{% if messages %}
            	<ul>
                {% for category, message in messages %}
                	<li class="is-size-5 has-text-{{ category }}-dark has-text-weight-light">{{ message }}</li>
                {% endfor %}
            	</ul>
        	{% endif %}
        {% endwith %}

		{% if products %}
		{% for product in products %}
		<article>
			<a href="{{url_for('product_blueprint.product', product_id=product.id)}}">
				<img src="{{url_for('static', filename='product_images/'+product.img_filename)}}">
			</a>
			<p>{{product.name}}</p>
			<p>{{product.cost}}</p>
		</article>
		{% endfor %}
		{% endif %}
	</body>
</html>
