<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{product.name}}</title>
	</head>
	<body>
		{% with messages = get_flashed_messages(with_categories=True) %}
		{% if messages %}
		<ul>
			{% for category, message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}

		<img src="{{url_for('static', filename='product_images/'+product.img_filename)}}">
		<p>{{product.name}}</p>
		<p>Php{{product.cost}}</p>
		<p>Stock: {{product.stock}}</p>
		<p>Description:</p>
		<p>{{product.description}}</p>
		
		<form action="{{url_for('product_blueprint.addtocart', product_id=product.id)}}" method="post">
		  {{form.hidden_tag()}}
		  
		  {{form.quantity.label}}
		  {{form.quantity}}
		  {% if form.quantity.errors %}
		  {% for error in form.quantity.errors %}
		  <span>{{error}}</span>
		  {% endfor %}
		  {% endif %}
		  
		  {{form.submit}}
		</form>
	</body>
</html>